In [1]:
import numpy as np 
import pandas as pd

In [6]:
dataset = pd.read_csv(r'C:\Manipal externship\bank.csv')

In [8]:
dataset.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes

In [10]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [11]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [19]:
x=dataset.iloc[:,:13].values
y=dataset.iloc[:,12:13].values

In [20]:
x

array([[59, 'admin.', 'married', ..., 'may', 1042, 1],
       [56, 'admin.', 'married', ..., 'may', 1467, 1],
       [41, 'technician', 'married', ..., 'may', 1389, 1],
       ...,
       [32, 'technician', 'single', ..., 'aug', 156, 2],
       [43, 'technician', 'married', ..., 'may', 9, 2],
       [34, 'technician', 'married', ..., 'jul', 628, 1]], dtype=object)

In [21]:
y

array([[1],
       [1],
       [1],
       ...,
       [2],
       [2],
       [1]], dtype=int64)

In [15]:
dataset.education.unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [23]:
ct = ColumnTransformer([('one', OneHotEncoder(), [1, 2, 3, 4, 6, 7, 8, 9, 10])], remainder = 'passthrough')
x = ct.fit_transform(x)

In [24]:
x.shape

(11162, 75)

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [28]:
print(x.shape,"xshape")
print(y.shape,"yshape")
print(x_train.shape,"x_train shape")
print(x_test.shape,"x_test shape")
print(y_train.shape,"y_train shape")
print(y_test.shape,"y_test shape")

(11162, 75) xshape
(11162, 1) yshape
(8929, 75) x_train shape
(2233, 75) x_test shape
(8929, 1) y_train shape
(2233, 1) y_test shape

In [34]:
from sklearn.preprocessing import StandardScaler

In [56]:
x_train = np.array([[1,2,3],[-25,8,10000],[4,5,6]])

In [57]:
x_train

array([[    1,     2,     3],
       [  -25,     8, 10000],
       [    4,     5,     6]])

In [61]:
d = StandardScaler()
x_train = d.fit_transform(x_train)

In [62]:
x_train

array([[ 0.58877664, -1.22474487, -0.7074251 ],
       [-1.40794413,  1.22474487,  1.41421351],
       [ 0.8191675 ,  0.        , -0.70678842]])